<!--
SPDX-FileCopyrightText: 2020 Michael Pöhn <michael.poehn@fsfe.org>

SPDX-License-Identifier: AGPL-3.0-or-later
-->

{% extends "base.html" %}

{% block content %}
<h2>{{title}}</h2>

<p>
  {{ text }}
  <br/>There are currently {{ len(apps) }} apps in this category.
</p>

<ul>
{% for app in apps %}
  {% for vc in apps[app] %}
    <li>
      {{ app }}:{{ vc }} -
      <a href="https://f-droid.org/packages/{{ app }}">web</a> -
      <a href="https://gitlab.com/fdroid/fdroiddata/-/blob/{{ fdroiddata }}/metadata/{{ app }}.yml">metadata</a> -
      <a href="/builds/log/{{ app }}/{{ vc }}">log</a>
    </li>
  {% end %}
{% end %}
</ul>
{% end %}
